* {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    padding: 2rem 10rem;
    display: flex;
    flex-flow: column wrap;
    gap: 4rem;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar-right {
    display: flex;
    gap: 2rem;
}

.navbar-right div {
    font-size: 18px;
    color: #e5e7eb;
}

.content-first {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.awesome-left, .awesome-right {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.text {
    width: 400px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    width: 500px;
    font-size: 18px;
    color: #e5e7eb;
}

.content-first .button {
    margin-top: 20px;
    align-self: flex-start;
    background-color: #3882f6;
    padding: 12px 32px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
}

.large-image img{
    width: 500px;
}